.editor__info {
	@include flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4.3em;
	margin-top: 3em;
	background: $bg-white-color;

	@include for-size(tablet) {
		text-align: center;
		margin-bottom: 6.1em;
	}

	@include for-size(phone) {
		margin-top: -0.7em;
	}

	&-trial {
		display: inline-block;
		font-family: $primary-fonts;
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(15);
		color: $text-color;
		margin-bottom: 4.1em;

		@include for-size(phone) {
			line-height: rem(14);
			margin-bottom: 4.9em;
		}
	}

	&-title {
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(54);
		color: #635C73;
		margin-bottom: 1em;

		@include for-size(phone) {
			font-size: rem(26);
			line-height: rem(28);
		}
	}

	&-subtitle {
		text-align: center;
		font-family: $secondary-fonts;
		font-weight: 400;
		font-size: rem(21);
		line-height: rem(32);
		color: $subtitle-color;
		margin-bottom: 0.8em;

		@include for-size(phone) {
			font-size: rem(14);
			line-height: rem(20);
			padding-left: 1.1em;
			padding-right: 1.6em;

		}
	}

	&-actions {
		@include flex;
		gap: 15px;
		font-family: $primary-fonts;
		font-weight: 700;

		@include for-size(phone) {
			flex-wrap: wrap;
			padding-bottom: 5.5em;
			row-gap: 1.2em
		}

		&-wrap {
			@include flex;
			border: 2px solid #d5d5d5;
			border-radius: 3px;

			&-watch,
			&-star,
			&-fork {
				@include flex;
				width: 100%;
				background: linear-gradient(0deg, rgba(221, 222, 222, 0.8046568969384629) 0%, rgba(238, 238, 239, 0.49933476808692223) 46%, rgba(255, 255, 255, 1) 100%);
				padding-inline: 0.7em;
				padding-block: 0.5em;
				border-right: 2px solid #d5d5d5;

				&-icon {
					fill: #333333;
				}

				.fa-eye {
					color: #333333;
				}

				&-text {
					font-family: $primary-fonts;
					font-weight: 700;
					font-size: rem(16);
					padding-left: .125em;

					@include for-size(phone) {
						font-size: rem(13);
						padding-inline: 0.5em;
						padding-block: 0.2em;
					}
				}

				&-info {
					font-family: $primary-fonts;
					font-weight: 400;
					font-size: rem(16);
					padding-inline: 0.7em;
					padding-block: 0.5em;

					@include for-size(phone) {
						font-size: rem(12);
						font-weight: 700;
						padding-inline: 0.5em;
						padding-block: 0.2em;
					}
				}
			}

		}
	}
}

// @include for-size(tablet) {
// 	.editor__info{
// 		text-align: center;
// 	}
// }